<h2>Docentes</h2>

<div class="row loadingContainer" *ngIf="loading$ | async">
    <div class="col-md-12 spinnerContainer">
        <span class="loader" ></span>
    </div>
</div>

<div class="container" *ngIf="!(loading$ | async)">
    <div class="row">
        <div class="col-md-3 teacherContainer" *ngFor="let teacher of teachers$ | async">
            <mat-card class="teacherCard">
                <mat-card-header>
                    <mat-card-title>{{ teacher | completeName }}</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="../../../../assets/img/user_img.png" alt="">
                <mat-card-content>
                    <p>Materia: {{ teacher.subject }}</p>
                </mat-card-content>
                <div class="btnContainer">
                    <button mat-icon-button class="btn btn-success" [routerLink]="['/main/teachers/', teacher.id]">
                        Ver Docente
                    </button>
        
                </div>
            </mat-card>
        </div>
    </div>
</div>