*{
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vw 0 2vw 0;
    background-image: url(../../../../assets//img/aula-nh.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
