<mat-sidenav-container class="sidenavContainer">
<mat-nav-list densed>
    <a mat-list-item [routerLink]="['/main']">
        <span matListItemTitle>Inicio</span>
    </a>
    <a mat-list-item [routerLink]="['/main/students']">
        <span matListItemTitle>Estudiantes</span>
    </a>
    <a mat-list-item [routerLink]="['/main/teachers']">
        <span matListItemTitle>Docentes</span>
    </a>
    <a mat-list-item [routerLink]="['/main/subjects']">
        <span matListItemTitle>Materias</span>
    </a>
    <a mat-list-item [routerLink]="['/main/users']">
        <span matListItemTitle>Usuarios</span>
    </a>
</mat-nav-list>
<mat-nav-list>
    <a mat-list-item (click)="logout()">
        <span matListItemTitle>Cerrar Sesión</span>
    </a>
</mat-nav-list>
</mat-sidenav-container>