<div class="teacherContainer" *ngFor="let teacher of teachersFilter$ | async">
    <h2>Docente: {{teacher | completeName}}</h2>
    <h4>N° de Legajo : {{teacher.fileNumber}}</h4>
    <h4>Materia: {{teacher.subject}} </h4>
    <h4>Edad : {{teacher.age}}</h4>
    <h4>Dirección: {{teacher.adress}}</h4>
    <div class="btnContainer">
        <div class="actionBtnContainer" *ngIf="session$ | async as user">
            <button class="btn btn-success" (click)="editTeacherModal(teacher)" *ngIf="user.isAdmin">Editar</button>
            <button class="btn btn-danger" (click)="deleteTeacher(teacher)" *ngIf="user.isAdmin">Eliminar</button>
        </div>
        <button class="btn btn-link" routerLink="/main/teachers">< Volver</button>
    </div>
</div>
