<div class="cardsContainer">
    <h2>Cursos</h2>
    <mat-card>
        <mat-card-content routerLink="/main/students/1">1° Año</mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-content routerLink="/main/students/2">2° Año</mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-content routerLink="/main/students/3">3° Año</mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-content routerLink="/main/students/4">4° Año</mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-content routerLink="/main/students/5">5° Año</mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-content routerLink="/main/students/6">6° Año</mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-content routerLink="/main/students/all">Todos los cursos</mat-card-content>
    </mat-card>
</div>

