<div class="cardsContainer">
    <h2>Cursos</h2>
    <mat-card>
        <mat-card-content routerLink="/main/students/1">1er Año</mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-content routerLink="/main/students/2">2do Año</mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-content routerLink="/main/students/3">3er Año</mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-content routerLink="/main/students/4">4to Año</mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-content routerLink="/main/students/5">5to Año</mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-content routerLink="/main/students/6">6to Año</mat-card-content>
    </mat-card>
</div>

