<footer>
    <div class="footer-container">
      <div class="social-media-container">
        <button class="btn-social-media">
          <a href="https://www.facebook.com/colegionahuelhuapi/" target="_blank"><span><i class="fa-brands fa-facebook-f fa-2x"
                name="boton facebook"></i></span></a>
        </button>
        <button class="btn-social-media btn-instagram">
          <a href="https://www.instagram.com/colegionahuelhuapi_mismanitos/" target="_blank"><span><i
                class="fa-brands fa-instagram fa-2x"></i></span></a>
        </button>
        <button class="btn-social-media">
          <a href="#" target="_blank"><span><i class="fa-brands fa-whatsapp fa-2x"></i></span></a>
        </button>
      </div>
      <div class="data-footer-container">
        <div class="all-rights-container">
          <p>© 2023 Todos los derechos reservados.</p>
        </div>
        <div class="designer-footer">
          <a href="https://www.linkedin.com/in/matias-garnica
          " target="_blank">
            <p>Diseño y Desarrollo: Matías Garnica</p>
          </a>
        </div>
      </div>
    </div>
  </footer>